{% set heroItems = "" %}
{% set dots = "" %}
{% set speed = "" %}

{% if data.widget.heroImages != "" %}
	{% set heroItems = apos.images.all(data.widget.heroImages) %}
{% else %}
	{% set heroItems = data.widget.heroVideo %}
{% endif %}

{{data.options.dots | dump}}
{% if data.options.dots | dump %}
	{% set dots = data.options.dots %}
{% else %}
	{% set dots = data.widget.config.dots %}
{% endif %}
{% if data.options.speed | dump %}
	{% set speed = data.options.speed %}
{% else %}
	{% set speed = data.widget.config.speed %}
{% endif %}
<div data-ec-page-hero data-ec-page-hero-{{data.widget._id}} data-background-color='#000' 
data-slick='{"dots": {{dots | dump}},"speed": "{{speed}}"}'>
	{% for hero in heroItems %}
		<div>
			<div class="focal-point" style="{% if apos.attachments.hasFocalPoint(hero) %}
      background-position: {{ apos.attachments.focalPointToBackgroundPosition(hero) }};
    {%- endif -%}
    background-image: url({{ apos.attachments.url(hero, { size: 'full' }) }})"></div>
		</div>
	{% endfor %}
</div>