{% set heroItems = "" %}
{% set dots = "" %}
{% set speed = "" %}
{% set videoId = "" %}

{% if data.widget.selectMedia == "video" %}
	{% set heroItems = data.widget.heroVideo.items %}
{% else %}
	{% set heroItems = apos.images.all(data.widget.heroImages) %}
{% endif %}

{% if data.widget.heroVideo.items[0].video.url %}
	{% set videoId = data.widget.heroVideo.items[0].video.url.split("v=")[1] %}
{% endif %}
{{data.options.dots | dump}}
{% if data.options.dots | dump %}
	{% set dots = data.options.dots %}
{% else %}
	{% set dots = data.widget.imageConfig.dots %}
{% endif %}
{% if data.options.speed | dump %}
	{% set speed = data.options.speed %}
{% else %}
	{% set speed = data.widget.imageConfig.speed %}
{% endif %}
<div data-ec-page-hero data-ec-page-hero-{{data.widget._id}} data-background-color='#000' 
data-slick='{"dots": {{dots | dump}},"speed": "{{speed}}"}'>
	<div class="overlay">			
		        <div class="inner">
		        	{% if data.widget.selectOverlay == 'page-title' %}		
		            <h1>{{data.page.title|upper}}</h1>
		            {% endif %}
		            {% if data.widget.selectOverlay == 'custom-title' %}		
		            <h1>{{data.widget.customTitle | upper}}</h1>
		            {% endif %}

					{% if data.widget.selectOverlay == "image-overlay" %}
						
								<div class="focal-point" style="background-image: url({{ apos.attachments.url(data.widget.imageOverlay, { size: 'full' }) }}); background-position: center; background-repeat: no-repeat; 
							{% if data.widget.backgroundSize == "percent" %}
									background-size: {{data.widget.overlaySize + '%'}};
							{% else %}
									background-size: {{data.widget.backgroundSize}};
							{% endif %}"></div>
				  {% endif %}
							        </div>
							    </div>

	{% for hero in heroItems %}

		{% if hero.type == "attachment" %}
		<div class="slide">
				
								<div class="focal-point" style="{% if apos.attachments.hasFocalPoint(hero) %}
					      background-position: {{ apos.attachments.focalPointToBackgroundPosition(hero) }};
					    {%- endif -%}
					    background-image: url({{ apos.attachments.url(hero, { size: 'full' }) }})"></div>
							</div>
							{% endif %}

		{% if hero.type == "apostrophe-video" %}
		<div class="slide">
			<section id="page-banner" class="bg-image" style="background-image: url('//i.ytimg.com/vi/{{videoId}}/maxresdefault.jpg');">
		      <div class="video_wrap" style="display:none"><div id="player"></div></div>
    		</section>
		</div>
		{% endif %}
	{% endfor %}
</div>

